<h1>Products Information</h1>

<p>Inventory Management with this app</p>

<!-- Pass in data from server.js -->
<ul>
  {{#each products}}
<<<<<<< HEAD
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
=======
    <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
>>>>>>> 0c14dfb88a3f9e756b3442e67fa7f07801a6130b
      <p><span class="label">Name:</span> {{this.name}}</p>
      <p><span class="label">Quantity:</span> {{this.quantity}}</p>
       <p><span class="label">Price:</span> {{this.price}}</p>
        <p><span class="label">Supplier:</span> {{this.supplier}}</p>

      <button data-id="{{this.id}}" class="delproduct">Delete</button>

      <a href="/{{this.id}}">Update this Product</a>
    </li>
  {{/each}}
</ul>

<h2>Add a Product</h2>

<form class="create-form">

  <div class="form-group">
    <label for="product">Name :</label>
    <input type="text" id="product_id" name="product_name">
    <label for="product">Quantity:</label>
    <input type="number" id="quant" name="quantity">
    <label for="product">Price:</label>
    <input type="number" id="price" name="price_product">
    <label for="product">Supplier :</label>
    <input type="text" id="supp" name="supplier">
  </div>

  

  <button type="submit">Add Product</button>
</form>
